* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

header {
  text-align: center;
  color: #FFF;
}

nav {
  background-color: #2E005C;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

nav li {
  list-style-type: none;

  width: 50%;
  padding-top: .5em;
  padding-bottom: .5em;

  border-top: 1px solid #888F95;
}

nav li:nth-of-type(1),
nav li:nth-of-type(2) {
  border-top: none;
}

nav li:nth-of-type(2n) {
  border-left: 1px solid #888F95;
}

nav li.selected {
  color: #54A5C4;
}

nav a:link,
nav a:visited {
  color: #5B54EC;
  text-decoration: none;
}

nav a:hover,
nav a:visited:hover,
nav a:active,
nav a:visited:active {
  color: #4FCEED;
  text-decoration: none;
}

.hero {
  padding-top: 6em;
  padding-bottom: 6em;
  background-color: #390071;
}

.hero h1 {
  font-size: 50px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-weight: normal;
  font-style: normal;
}

p {
  text-align: left;
  display: block;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

section {
  margin: 0 auto;
  width: 50%;
  margin-top: 3em;
  margin-bottom: 3em;
  overflow: hidden;
}

.images {
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

.images img {
  width: 100% !important;
  height: auto !important;
}

.content img {
  overflow: hidden;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}
.selected {
  color: #8B00FF;
}

.footer {
  background-color: #390071;
  padding-top: 4em;
  padding-bottom: 4em;
  color: #8B8B8B;
  text-align: center;
}

@media only screen and (min-width: 750px) {
  nav {
    padding-left: 2em;
    padding-right: 2em;
  }
  nav li {
    width: auto;
    border-top: none;
  }

  nav li:nth-of-type(2n) {
    border-left: none;
  }
  .images {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}

@media only screen and (max-width: 749px) {
  section {
    width: 100%;
  }
  .hero {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .images {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
